<div id="footer">
    <%- theme.BottomText %>
    <a href="https://beian.miit.gov.cn">蒙ICP备2024011743号</a><br>
    <img src="https://bu.dusays.com/2024/05/28/6655394699ba8.png" alt="图标" style="vertical-align:sub" width="14"> <a href="https://beian.mps.gov.cn/#/query/webSearch?code=15090002001034" rel="noreferrer" target="_blank">蒙公网安备15090002001034</a>
</div>